@import "tailwindcss";

body {
  background-color: #0e1011;
}

#landing_page_section {
  background-image: url("/landing_page_image.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
#section_portfolios {
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#footer_section {
  background-image: url("/background_footer.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
